        </main>
        <footer>
            <div id="copyright">
                <p>&copy; 2023 CulinaryMate developed by Aleena</p>
            </div>
            <div id="top">
                <a id="toplink" href="#top">BACK TO TOP <span style="font-size:25px;">&uarr;</span></a>
            </div>
            <script>
                document.getElementById('toplink').addEventListener('click', function() {
                    window.scrollTo({
                        top: 0,
                        behavior: 'smooth'
                    });
                });
            </script>
        </footer>
    </body>

</html>